<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; min-height: 100vh;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
    <span class="fs-4">Asback Ticket Panel</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/" class="nav-link active" aria-current="page">
        Kontrol Merkezi
      </a>
    </li>
    <li>
      <a href="/logs" class="nav-link link-dark">
        Log Arşivi
      </a>
    </li>
    <% if (guilds && guilds.length > 0) { %>
      <li>
        <a href="/guilds/<%= guilds[0].id %>" class="nav-link link-dark">
          Sunucu Ayarları
        </a>
      </li>
    <% } %>
  </ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
      <strong>Sunucu</strong>
    </a>
    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
      <% if (guilds && guilds.length > 0) { %>
        <% guilds.forEach(guild => { %>
          <li><a class="dropdown-item" href="/guilds/<%= guild.id %>"><%= guild.name %></a></li>
        <% }); %>
      <% } else { %>
        <li><a class="dropdown-item" href="#">Bot sunucuda değil</a></li>
      <% } %>
    </ul>
  </div>
</div>
